experiment/db/
experiment/node_modules/
experiment/package-lock.json

data/*approval_log
data/*bonus_log
data/*return_log

plots/

private/
scratch*

*.pdf
*.bib

prolific_api_token
prolific_workspace_id
