hethom_env/

experiment/db/
experiment/node_modules/
experiment/package-lock.json

data/*approval_log
data/*bonus_log
data/*return_log

manuscript/manuscript.pdf
manuscript/manuscript.docx
manuscript/apa.csl

private/
scratch*
